<div class="blog-post">
  <h2>{{blog_title}}</h2>
  <p>Authored by: {{author.name}} on {{format_date date_created}}</p>
  <p>{{blog_content}}</p>

  <h2 class="comments-heading">Comments:</h2>
  <ul class="comment-list">
    {{#each comments as |comment|}}
      <li class="comment-item">
        <h5>{{comment.comment_content}}</h5>
        <p>
          Comment by: {{comment.author.name}} on {{format_date comment.date_created}}
        </p>
      </li>
    {{/each}}
  </ul>

  <h3 class="add-comment-heading">Add New Comment:</h3>
  <form class="new-comment-form">
    <!-- If needed, add a class to the form-group container -->
    <div class="form-group">
      <input type="hidden" id="blogpost-id" name="blogpost-id" value="{{id}}" />
      <label for="comment-content">Comment:</label>
      <textarea class="form-input" id="comment-content" name="comment-content"></textarea>
    </div>
    <div class="form-group">
      <button type="submit" class="submit-comment-button">Submit Comment</button>
    </div>
  </form>
</div>

<script src="/js/createcomment.js"></script>
