{{!-- Link the CSS file with the correct relative path --}}
<link rel="stylesheet" href="../../public/css/style.css" />

<!-- Rest of the code remains the same -->
<!-- Loop over each object in the blogposts array -->
<h2 class="panel">Welcome, {{name}}!</h2>
<h2 class="panel">Latest Blog Posts:</h2>
<div class="container">

{{#each blogposts as |blog| }}
<div class="panel">
  <div>
    <h2>
      <a href="/api/blog/edit/{{blog.id}}" class="panel">{{blog.blog_title}}</a>
    </h2>
    <p class="panel">Created by {{blog.author.name}} on {{format_date blog.date_created}}</p>
  </div>
  <div>
    <p class="panel">
      {{blog.blog_content}}
    </p>
  </div>
</div>
{{/each}}

<a href="/api/blog"><button class="btn btn-primary panel">Create New Blog Post</button></a>

</div>

{{#if projects.length}}
<div class="container">
  <h3 class="panel">Current Projects:</h3>

  {{#each projects as |project|}}
  <div class="panel">
    <div>
      <h4><a href="/project/{{project.id}}" class="panel">{{project.name}}</a></h4>
    </div>
    <div>
      <button class="btn btn-sm btn-danger panel" data-id="{{project.id}}">DELETE</button>
    </div>
  </div>
  {{/each}}
</div>
{{/if}}
</div>
</div>
